<style>
    .am-logged-in-as {
        font-size: small;
        vertical-align: middle;
    }
    
    .am-pt-cursor {
        cursor: pointer;
        outline: none;
    }
    
    .am-tax-inline-input {
        border: 0;
        border-bottom: 1px solid black;
        width: 97%;
        font-weight: 400;
        padding: 6px;
        outline: none;
        background: transparent;
        color: rgba(30, 30, 30, 0.7);
        -webkit-transition: background 1s ease 0s, box-shadow 1s ease 0s, border-bottom 1s ease 0s;
        -moz-transition: background 1s ease 0s, box-shadow 1s ease 0s, border-bottom 1s ease 0s;
        transition: background 1s ease 0s, box-shadow 1s ease 0s, border-bottom 1s ease 0s;
        box-shadow: 0px 1px 3px 1px rgba(30, 30, 30, 0);
    }
    
    .am-tax-inline-input:focus {
        border-bottom: 0;
        background: white;
        box-shadow: 0px 1px 3px 1px rgba(30, 30, 30, 0.3);
    }
    
    .am-tax-inline-input:hover {
        border-bottom: 0;
        background: white;
        box-shadow: 0px 1px 3px 1px rgba(30, 30, 30, 0.2);
    }
    
    .am-tax-adjust md-switch .md-bar {
        background-color: #81D4FA;
        /* set not selected bar color */
    }
    
    .am-tax-adjust md-switch.md-checked .md-bar {
        background-color: #81D4FA;
        /* set selected bar color */
    }
    
    .am-tax-adjust md-switch[disabled] .md-bar {
        background-color: #81D4FA;
        /* set disabled bar color */
    }
    
    .am-tax-adjust md-switch .md-thumb {
        background-color: #039BE5;
        /* not selected switch color */
    }
    
    .am-tax-adjust md-switch.md-checked .md-thumb {
        background-color: #039BE5;
        /* selected switch color */
    }
    
    .am-tax-adjust md-switch[disabled] .md-thumb {
        background-color: #039BE5;
        /* disabled switch color */
    }

    .am-social-links.edge {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    .am-social-links {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .am-social-links span {
        font-size: small;
        padding-left: 0.6rem;
        color: #616161;
    }

    .am-social-links input {
        border: 0;
        outline: none;
        border-bottom: 1px solid #ECEFF1;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-left: 0.1rem;
        transition: all 500ms ease;
    }

    .am-social-links input:hover {
        border-bottom: 1px solid #B0BEC5;
    }

    .am-social-links input:focus {
        border-bottom: 1px solid #B0BEC5;
    }
</style>

<md-content>
    <md-tabs md-dynamic-height md-border-bottom class="am-tab-margin">
        <md-tab label="General Settings">
            <md-content class="md-padding" layout-xs="column" layout="row">
                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content>
                            <div layout="column" style="margin: 0 0 0.3rem 0">
                                <span class="md-title">Import</span>
                                <span class="md-body-1">Add customers and their vehicle data (in CSV format).</span>
                            </div>
                            <div layout="column" am-drop-files="vm.handleUploadedFile" class="am-file-uploader" layout-align="center center">
                                <md-button class="md-raised" ng-click="vm.uploadCSV()">
                                    <span layout-padding>Click to upload</span>
                                </md-button>
                                <input type="file" am-upload-files="vm.handleUploadedFile" id="csv-file-select"> or
                                <br>Drop CSV File
                            </div>
                            <md-progress-linear md-mode="determinate" value="{{vm.currentCsvProgress}}" ng-show="vm.isCsvProcessed"></md-progress-linear>
                            <div layout="column" layout-margin>
                                <span class="md-body-1"><span style="font-size: small">First row of the CSV file must be the header row, divided into fields like this;</span><br><i style="font-weight: 500">name, mobile, registration, manufacturer, model.</i></span>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout="row" layout-align="center center">
                            <md-input-container class="am-clear-error-spacer" style="margin: 18px 0 4px 0">
                                <md-icon class="md-accent" style="cursor: pointer" ng-mouseup="vm.handlePasscodeVisibility(false)" ng-mousedown="vm.handlePasscodeVisibility(true)">lock_open<md-tooltip>See Passcode</md-tooltip></md-icon>
                                <label class="am-form-label large">Passcode</label>
                                <input type="password" ng-model="vm.passcode" ng-blur="vm.savePasscode()" style="letter-spacing: 1px" aria-label="Email Subject" id="am-passcode">
                            </md-input-container>
                            <div flex></div>
                            <md-checkbox ng-model="vm.isPasscodeEnabled" ng-change="vm.savePasscode()" aria-label="Enable Passcode">
                                <span class="md-body-1">Enable Passcode</span>
                            </md-checkbox>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout="column" style="padding: 12px 18px 18px 18px">
                            <div layout="row">
                                <span class="md-body-2">Default Service Type</span>
                            </div>
                            <md-radio-group ng-model="vm.serviceState" ng-change="vm.saveDefaultServiceType()" layout="row" layout-align="start center" style="padding-top: 10px">
                                <md-radio-button ng-value="state" ng-repeat="state in vm.serviceStateList" class="md-body-1">{{state}}</md-radio-button>
                            </md-radio-group>
                        </md-card-content>
                    </md-card>
                </div>
                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout-xs="column" layout="row" layout-align="center center" style="padding: 8px 16px">
                            <span class="md-title">Backup Your Data</span>
                            <div flex></div>
                            <md-button class="md-raised" ng-click="vm.doBackup()">
                                <md-icon>file_download</md-icon>
                                <span layout-margin>Download</span>
                            </md-button>
                        </md-card-content>
                    </md-card>
                    <md-card ng-hide="true">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-title">{{vm.label_login}}<span ng-show="vm.isLoggedIn" class="am-logged-in-as"> as {{vm.user.username}}</span></span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content ng-hide="vm.isLoggedIn">
                            <div layout-gt-xs="row" layout-wrap layout-margin>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <md-icon class="md-accent">person_pin</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isUsername}">{{vm.label_username}}</label>
                                    <input type="text" ng-model="vm.user.username" ng-blur="vm.changeUsernameLabel()" ng-focus="vm.changeUsernameLabel(true)">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <md-icon class="md-accent">vpn_key</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isPassword}">{{vm.label_password}}</label>
                                    <input type="password" ng-model="vm.user.password" ng-blur="vm.changePasswordLabel()" ng-focus="vm.changePasswordLabel(true)">
                                </md-input-container>
                            </div>
                            <div layout="column" layout-align="center end">
                                <md-button class="md-raised" ng-click="vm.doLogin()">
                                    <md-icon>send</md-icon>
                                    <span layout-padding>Login</span>
                                </md-button>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content>
                            <div layout-xs="column" layout="row">
                                <div layout="column">
                                    <span class="md-title">Cover Logo</span>
                                    <span class="md-body-1">Size of image should be 250x125px (WxH)</span>
                                </div>
                                <div flex></div>
                                <md-button class="md-raised" ng-click="vm.uploadCover()">
                                    <span layout-padding>Change</span>
                                </md-button>
                                <input type="file" id="am-upload-cover-pic" am-upload-files="vm.handleUploadedCoverPic" ng-hide="true">
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content>
                            <div layout="row">
                                <span class="md-title">Service Tax</span>
                                <div flex></div>
                                <md-checkbox ng-model="vm.sTaxSettings.applyTax" ng-click="vm.sTaxSettings.inclusive = (vm.sTaxSettings.inclusive == undefined) ? true : vm.sTaxSettings.inclusive" ng-change="vm.saveServiceTaxSettings()" aria-label="Apply Service Tax">
                                    <span class="md-body-1">Apply Service Tax</span>
                                </md-checkbox>
                            </div>
                            <div layout="row" layout-xs="column" ng-show="vm.sTaxSettings.applyTax">
                                <div layout="row" layout-align="start center" class="am-tax-adjust">
                                    <span class="md-body-1 am-pt-cursor" layout-padding ng-click="vm.sTaxSettings.inclusive = false">Exclusive</span>
                                    <md-switch aria-label="Adjust Service Tax" ng-change="vm.saveServiceTaxSettings()" ng-model="vm.sTaxSettings.inclusive" style="margin: 0"></md-switch>
                                    <span class="md-body-1 am-pt-cursor" ng-click="vm.sTaxSettings.inclusive = true">Inclusive</span>
                                </div>
                                <div flex></div>
                                <div layout="row" layout-align="center center" flex="40">
                                    <span class="md-body-1">Service Tax <small>(%)</small>:</span>
                                    <input type="number" ng-blur="vm.saveServiceTaxSettings()" ng-model="vm.sTaxSettings.tax" class="am-tax-inline-input" value="0" flex>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content>
                            <div layout="row">
                                <span class="md-title">VAT</span>
                                <div flex></div>
                                <md-checkbox ng-model="vm.vatSettings.applyTax" ng-click="vm.vatSettings.inclusive = (vm.vatSettings.inclusive == undefined) ? true : vm.vatSettings.inclusive" ng-change="vm.saveVatSettings()" aria-label="Apply VAT">
                                    <span class="md-body-1">Apply VAT</span>
                                </md-checkbox>
                            </div>
                            <div layout="row" layout-xs="column" ng-show="vm.vatSettings.applyTax">
                                <div layout="row" layout-align="start center" class="am-tax-adjust">
                                    <span class="md-body-1 am-pt-cursor" layout-padding ng-click="vm.vatSettings.inclusive = false">Exclusive</span>
                                    <md-switch aria-label="Adjust VAT" ng-change="vm.saveVatSettings()" ng-model="vm.vatSettings.inclusive" style="margin: 0"></md-switch>
                                    <span class="md-body-1 am-pt-cursor" ng-click="vm.vatSettings.inclusive = true">Inclusive</span>
                                </div>
                                <div flex></div>
                                <div layout="row" layout-align="center center" flex="30">
                                    <span class="md-body-1">VAT <small>(%)</small>:</span>
                                    <input type="number" ng-blur="vm.saveVatSettings()" ng-model="vm.vatSettings.tax" class="am-tax-inline-input" value="0" flex>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content>
                            <div layout="row">
                                <span class="md-title">App Data</span>
                            </div>
                            <div layout="row" layout-align="start center">
                                <span class="md-caption">{{vm.amAppPath}}</span>
                                <span flex></span>
                                <md-button class="md-raised hue-1" ng-click="vm.setAmAppDataPath()">
                                    <span layout-margin>Change</span>
                                    <md-icon>folder_open</md-icon>
                                </md-button>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </md-content>
        </md-tab>

        <md-tab label="Invoice Settings" md-active="vm.invoiceTab" md-on-deselect="vm.changeInvoiceTab(false)">
            <md-content class="md-padding" layout-xs="column" layout="row">
                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout="column" style="padding: 0 16px">
                            <span class="md-title" style="margin: 16px">Workshop Details</span>
                            <div layout="row" layout-wrap layout-margin>
                                <md-input-container flex-gt-xs>
                                    <md-icon class="md-accent">domain</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isWorkshopName}">{{vm.label_workshopName}}</label>
                                    <input class="md-body-1" type="text" ng-model="vm.workshop.name" ng-change="vm.autoCapitalizeWorkshopName()" ng-blur="vm.changeWorkshopNameLabel(); vm.saveWorkshopName()" ng-focus="vm.changeWorkshopNameLabel(true)">
                                </md-input-container>
                                <md-input-container flex-gt-xs>
                                    <md-icon class="md-accent">phone</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isWorkshopPhone}">{{vm.label_workshopPhone}}</label>
                                    <input class="md-body-1" type="text" ng-model="vm.workshop.phone" ng-blur="vm.changeWorkshopPhoneLabel(); vm.saveWorkshopPhone()" ng-focus="vm.changeWorkshopPhoneLabel(true)">
                                </md-input-container>
                                <md-input-container flex="100">
                                    <md-icon class="md-accent">location_on</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isWorkshopAddress1}">{{vm.label_workshopAddress1}}</label>
                                    <input class="md-body-1" type="text" ng-model="vm.workshop.address1" ng-change="vm.autoCapitalizeAddressLine1()" ng-blur="vm.changeWorkshopAddress1Label(); vm.saveWorkshopAddress1()" ng-focus="vm.changeWorkshopAddress1Label(true)">
                                </md-input-container>
                                <md-input-container flex="100">
                                    <md-icon class="md-accent">location_on</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isWorkshopAddress2}">{{vm.label_workshopAddress2}}</label>
                                    <input class="md-body-1" type="text" ng-model="vm.workshop.address2" ng-change="vm.autoCapitalizeAddressLine2()" ng-blur="vm.changeWorkshopAddress2Label(); vm.saveWorkshopAddress2()" ng-focus="vm.changeWorkshopAddress2Label(true)">
                                </md-input-container>
                                <md-input-container class="am-clear-error-spacer" flex="100">
                                    <md-icon class="md-accent">location_city</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isWorkshopCity}">{{vm.label_workshopCity}}</label>
                                    <input class="md-body-1" type="text" ng-model="vm.workshop.city" ng-change="vm.autoCapitalizeCity()" ng-blur="vm.changeWorkshopCityLabel(); vm.saveWorkshopCity()" ng-focus="vm.changeWorkshopCityLabel(true)">
                                </md-input-container>
                            </div>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center" style="margin: 10px 14px">
                            <md-switch dir="rtl" ng-model="vm.ivSettings.display.workshopDetails" ng-change="vm.saveIvDisplaySettings()" style="margin: 0">
                                <span layout-padding class="am-form-label">Display in Invoice</span>
                            </md-switch>
                        </md-card-actions>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout="column">
                            <div layout="row" style="margin-bottom: 12px">
                                <span class="md-title">Social Links</span>
                                <div flex></div>
                                <md-checkbox ng-model="vm.workshop.social.enabled" ng-change="vm.saveWorkshopDetails()" aria-label="Enable Links" style="margin-bottom: 0">
                                    <span class="md-body-1">Show Links</span>
                                </md-checkbox>
                            </div>
                            <div layout="row" layout-align="center center" class="am-social-links edge">
                                <md-icon md-svg-src="assets/img/facebook.svg"></md-icon>
                                <span style="md-body-1">facebook.com/</span>
                                <input type="text" ng-model="vm.workshop.social.facebook" ng-blur="vm.saveFacebookLink()" style="color: #424242" flex>
                            </div>
                            <div layout="row" layout-align="center center" class="am-social-links">
                                <md-icon md-svg-src="assets/img/instagram.svg"></md-icon>
                                <span style="md-body-1">instagram.com/</span>
                                <input type="text" ng-model="vm.workshop.social.instagram" ng-blur="vm.saveInstagramLink()" style="color: #424242" flex>
                            </div>
                            <div layout="row" layout-align="center center" class="am-social-links edge">
                                <md-icon md-svg-src="assets/img/twitter.svg"></md-icon>
                                <span style="md-body-1">twitter.com/</span>
                                <input type="text" ng-model="vm.workshop.social.twitter" ng-blur="vm.saveTwitterLink()" style="color: #424242" flex>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content style="padding: 8px 24px">
                            <div layout="row" layout-xs="column">
                                <span layout="row" layout-align="center center">
                                    <span class="md-body-2" flex>Last Invoice Number: </span>
                                    <input type="number" ng-model="vm.ivSettings.lastInvoiceNumber" ng-blur="vm.OnBlurLastInvoiceNumber()" placeholder="Enter Invoice Number Here" class="am-table-inline-input" flex>
                                </span>
                                <div flex></div>
                                <md-button class="md-accent" ng-click="vm.resetLastInvoiceNo()">
                                    <span layout-margin>Reset</span>
                                </md-button>
                            </div>
                            <div layout="row" layout-xs="column">
                                <span layout="row" layout-align="center center">
                                    <span class="md-body-2" flex>Last Estimate Number: </span>
                                    <input type="number" ng-model="vm.ivSettings.lastEstimateNo" ng-blur="vm.OnBlurLastEstimateNo()" placeholder="Enter Estimate Number Here" class="am-table-inline-input" flex>
                                </span>
                                <div flex></div>
                                <md-button class="md-accent" ng-click="vm.resetLastEstimateNo()">
                                    <span layout-margin>Reset</span>
                                </md-button>
                            </div>
                            <div layout="row" layout-xs="column">
                                <span layout="row" layout-align="center center">
                                    <span class="md-body-2" flex>Last Job Card Number: </span>
                                    <input type="number" ng-model="vm.ivSettings.lastJobCardNo" ng-blur="vm.OnBlurLastJobCardNo()" placeholder="Enter Job Card Number Here" class="am-table-inline-input" flex>
                                </span>
                                <div flex></div>
                                <md-button class="md-accent" ng-click="vm.resetLastJobCardNo()">
                                    <span layout-margin>Reset</span>
                                </md-button>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-title layout-xs="column" layout-align="center center" layout-wrap style="padding: 16px 24px">
                            <md-card-title-text>
                                <span class="md-title">Workshop Logo</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout="column" layout-align="center center" layout-margin layout-wrap style="padding: 0">
                            <img ng-src="{{vm.invoiceWLogo}}" id="am-invoice-w-logo">
                        </md-card-content>
                        <input type="file" id="am-upload-invoice-w-logo" am-upload-files="vm.changeInvoiceWLogo" ng-hide="true">
                        <md-card-actions layout="row" layout-align="end center">
                            <md-switch dir="rtl" ng-model="vm.ivSettings.display.workshopLogo" ng-change="vm.saveIvDisplaySettings()" style="margin: 0">
                                <span layout-padding class="am-form-label">Display in Invoice</span>
                            </md-switch>
                            <md-button class="md-accent" ng-click="vm.uploadInvoiceWLogo()">
                                <md-icon>collections</md-icon>
                                <span layout-padding>Change</span>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-contnet layout="row" layout-align="center center" layout-margin layout-wrap>
                            <span class="md-title" flex="100">Email Subject</span>
                            <md-input-container class="am-clear-error-spacer" flex>
                                <md-icon class="md-accent">subject</md-icon>
                                <input type="text" ng-model="vm.ivSettings.emailsubject" ng-change="vm.autoCapitalizeEmailSubject()" ng-blur="vm.saveIvEmailSubject()" style="width: 100%" aria-label="Email Subject">
                            </md-input-container>
                        </md-card-contnet>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content>
                            <div layout="row">
                                <span class="md-title">Printing Margin&nbsp;<span style="font-size: small">(in cm)</span></span>
                                <div flex></div>
                                <md-checkbox ng-model="vm.ivAlign.enabled" ng-change="vm.saveIvAlignMargins(true)" aria-label="Enable Margins" style="margin: 0">
                                    <span class="md-body-1">Enable Margins</span>
                                </md-checkbox>
                            </div>
                            <md-input-container class="am-clear-error-spacer" flex style="margin: 18px 0 0">
                                <md-icon class="md-accent">vertical_align_top</md-icon>
                                <label class="am-form-label" ng-class="{'large': vm.isTopAlignment}">{{vm.label_ivAlignTopAlignment}}</label>
                                <input type="number" ng-model="vm.ivAlign.top" ng-focus="vm.changeTopAlignLabel(true)" ng-blur="vm.changeTopAlignLabel(); vm.saveIvAlignMargins()" aria-label="Top Align">
                            </md-input-container>
                            <md-input-container class="am-clear-error-spacer" flex style="margin: 18px 0 0">
                                <md-icon class="md-accent">vertical_align_bottom</md-icon>
                                <label class="am-form-label" ng-class="{'large': vm.isBottomAlignment}">{{vm.label_ivAlignBottomAlignment}}</label>
                                <input type="number" ng-model="vm.ivAlign.bottom" ng-focus="vm.changeBottomAlignLabel(true)" ng-blur="vm.changeBottomAlignLabel(); vm.saveIvAlignMargins()" aria-label="Bottom Align">
                            </md-input-container>
                        </md-card-content>
                    </md-card>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>