<style>
    .am-logged-in-as {
        font-size: small;
        vertical-align: middle;
    }
    
    .am-pt-cursor {
        cursor: pointer;
        outline: none;
    }
    
    .am-tax-inline-input {
        border: 0;
        border-bottom: 1px solid #BDBDBD;
        min-width: 40px;
        font-weight: 400;
        padding: 6px;
        outline: none;
        background: transparent;
        color: #000;
        transition: border-bottom 1s ease 0s;
    }
    
    .am-tax-inline-input:focus {
        border-bottom: 1px solid #424242;
    }
    
    .am-tax-inline-input:hover {
        border-bottom: 1px solid #9E9E9E;
    }
    
    .am-tax-adjust md-switch .md-bar {
        background-color: #81D4FA;
        /* set not selected bar color */
    }
    
    .am-tax-adjust md-switch.md-checked .md-bar {
        background-color: #81D4FA;
        /* set selected bar color */
    }
    
    .am-tax-adjust md-switch[disabled] .md-bar {
        background-color: #81D4FA;
        /* set disabled bar color */
    }
    
    .am-tax-adjust md-switch .md-thumb {
        background-color: #039BE5;
        /* not selected switch color */
    }
    
    .am-tax-adjust md-switch.md-checked .md-thumb {
        background-color: #039BE5;
        /* selected switch color */
    }
    
    .am-tax-adjust md-switch[disabled] .md-thumb {
        background-color: #039BE5;
        /* disabled switch color */
    }

    .am-social-links.edge {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    .am-social-links {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .am-social-links span {
        font-size: small;
        padding-left: 0.6rem;
        color: #616161;
    }

    .am-social-links input {
        border: 0;
        outline: none;
        border-bottom: 1px solid #ECEFF1;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-left: 0.1rem;
        transition: all 500ms ease;
    }

    .am-social-links input:hover {
        border-bottom: 1px solid #B0BEC5;
    }

    .am-social-links input:focus {
        border-bottom: 1px solid #B0BEC5;
    }
</style>

<md-content>
    <md-tabs md-dynamic-height md-border-bottom class="am-tab-margin">
        <md-tab label="General" ng-disabled="$root.isAllFranchiseOSelected()">
            <md-content class="md-padding" layout-xs="column" layout="row">
                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content>
                            <div layout="column" style="margin: 0 0 0.3rem 0">
                                <span class="md-title">Import</span>
                                <span class="md-body-1">Add customers and their vehicle data (in CSV format).</span>
                            </div>
                            <div layout="column" am-drop-files="vm.handleUploadedFile" class="am-file-uploader" layout-align="center center">
                                <md-button class="md-raised" ng-click="vm.uploadCSV()">
                                    <span layout-padding>Click to upload</span>
                                </md-button>
                                <input type="file" am-upload-files="vm.handleUploadedFile" style="display:none" id="csv-file-select"> or
                                <br>Drop CSV File
                            </div>
                            <md-progress-linear md-mode="indeterminate" ng-show="vm.isCsvProcessed"></md-progress-linear>
                            <div layout="column" layout-margin>
                                <span class="md-body-1"><span style="font-size: small">First row of the CSV file must be the header row, divided into fields like this;</span><br><i style="font-weight: 500">name, mobile, registration, manufacturer, model, date, services, status (paid/pending)</i></span>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout="row" layout-align="center center">
                            <md-input-container class="am-clear-error-spacer" style="margin: 18px 0 4px 0">
                                <md-icon class="md-accent" style="cursor: pointer" ng-mouseup="vm.handlePasscodeVisibility(false)" ng-mousedown="vm.handlePasscodeVisibility(true)">lock_open<md-tooltip>See Passcode</md-tooltip></md-icon>
                                <label class="am-form-label large">Passcode</label>
                                <input type="password" ng-model="vm.passcode" ng-blur="vm.savePasscode()" style="letter-spacing: 1px" aria-label="Email Subject" id="am-passcode">
                            </md-input-container>
                            <div flex></div>
                            <md-checkbox ng-model="vm.isPasscodeEnabled" ng-change="vm.savePasscode()" aria-label="Enable Passcode">
                                <span class="md-body-1">Enable Passcode</span>
                            </md-checkbox>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout="row" layout-align="start center">
                            <span class="md-title">Currency:</span>
                            <input type="text" pu-elastic-input ng-model="vm.currencySymbol" ng-blur="vm.saveCurrencySymbol()" class="am-tax-inline-input" style="min-width: 100px; font-size: 11pt; margin-bottom: -4px; margin-left: 6px">
                        </md-card-content>
                    </md-card>
                </div>
                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout-xs="column" layout="row" layout-align="center center" style="padding: 8px 16px">
                            <span class="md-title">Backup Your Data</span>
                            <div flex></div>
                            <md-button class="md-raised" ng-click="vm.doBackup()">
                                <md-icon>file_download</md-icon>
                                <span layout-margin>Download</span>
                            </md-button>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content>
                            <div layout-xs="column" layout="row">
                                <div layout="column">
                                    <span class="md-title">Cover Logo</span>
                                    <span class="md-body-1">Size of image should be 250x125px (WxH)</span>
                                </div>
                                <div flex></div>
                                <md-button class="md-raised" ng-click="vm.uploadCover()">
                                    <span layout-padding>Change</span>
                                </md-button>
                                <input type="file" id="am-upload-cover-pic" am-upload-files="vm.handleUploadedCoverPic" ng-hide="true">
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content>
                            <div layout="row" layout-align="start center">
                                <span class="md-title">App Data Location</span>
                            </div>
                            <div layout="row" layout-align="start center" style="margin-top: 6px">
                                <span class="md-caption">{{vm.amAppPath}}</span>
                            </div>
                            <div layout="row" layout-align="start center" style="margin-top: 6px;">
                                <md-button class="md-raised hue-1" ng-click="vm.setAmAppDataPath(true)">
                                    <md-icon>create_new_folder</md-icon>
                                    <span layout-margin>Change and Move</span>
                                </md-button>
                                <md-button class="md-raised hue-1" ng-click="vm.setAmAppDataPath(false)">
                                    <span layout-margin>Select Existing</span>
                                    <md-icon>folder_open</md-icon>
                                </md-button>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout="column" style="padding: 12px 18px 18px 18px">
                            <div layout="row">
                                <span class="md-body-2">Default Service Type</span>
                            </div>
                            <md-radio-group ng-model="vm.serviceState" ng-change="vm.saveDefaultServiceType()" layout="row" layout-align="start center" style="padding-top: 10px">
                                <md-radio-button ng-value="state" ng-repeat="state in vm.serviceStateList" class="md-body-1">{{state}}</md-radio-button>
                            </md-radio-group>
                        </md-card-content>
                    </md-card>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Invoice" md-active="vm.invoiceTab" md-on-deselect="vm.changeInvoiceTab(false)" ng-disabled="$root.isAllFranchiseOSelected()">
            <md-content class="md-padding" layout-xs="column" layout="row">
                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout="column" style="padding: 0 16px">
                            <span class="md-title" style="margin: 16px">Workshop Details</span>
                            <div layout="row" layout-wrap layout-margin>
                                <md-input-container flex-gt-xs>
                                    <md-icon class="md-accent">domain</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isWorkshopName}">{{vm.label_workshopName}}</label>
                                    <input class="md-body-1" type="text" ng-model="vm.workshop.name" ng-change="vm.autoCapitalizeWorkshopName()" ng-blur="vm.changeWorkshopNameLabel(); vm.saveWorkshopName()" ng-focus="vm.changeWorkshopNameLabel(true)">
                                </md-input-container>
                                <md-input-container flex-gt-xs>
                                    <md-icon class="md-accent">phone</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isWorkshopPhone}">{{vm.label_workshopPhone}}</label>
                                    <input class="md-body-1" type="text" ng-model="vm.workshop.phone" ng-blur="vm.changeWorkshopPhoneLabel(); vm.saveWorkshopPhone()" ng-focus="vm.changeWorkshopPhoneLabel(true)">
                                </md-input-container>
                                <md-input-container flex="100">
                                    <md-icon class="md-accent">location_on</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isWorkshopAddress1}">{{vm.label_workshopAddress1}}</label>
                                    <input class="md-body-1" type="text" ng-model="vm.workshop.address1" ng-change="vm.autoCapitalizeAddressLine1()" ng-blur="vm.changeWorkshopAddress1Label(); vm.saveWorkshopAddress1()" ng-focus="vm.changeWorkshopAddress1Label(true)">
                                </md-input-container>
                                <md-input-container flex="100">
                                    <md-icon class="md-accent">location_on</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isWorkshopAddress2}">{{vm.label_workshopAddress2}}</label>
                                    <input class="md-body-1" type="text" ng-model="vm.workshop.address2" ng-change="vm.autoCapitalizeAddressLine2()" ng-blur="vm.changeWorkshopAddress2Label(); vm.saveWorkshopAddress2()" ng-focus="vm.changeWorkshopAddress2Label(true)">
                                </md-input-container>
                                <md-input-container class="am-clear-error-spacer" flex="100">
                                    <md-icon class="md-accent">location_city</md-icon>
                                    <label class="am-form-label" ng-class="{'large': vm.isWorkshopCity}">{{vm.label_workshopCity}}</label>
                                    <input class="md-body-1" type="text" ng-model="vm.workshop.city" ng-change="vm.autoCapitalizeCity()" ng-blur="vm.changeWorkshopCityLabel(); vm.saveWorkshopCity()" ng-focus="vm.changeWorkshopCityLabel(true)">
                                </md-input-container>
                            </div>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center" style="margin: 10px 14px">
                            <md-switch dir="rtl" ng-model="vm.ivSettings.display.workshopDetails" ng-change="vm.saveIvDisplaySettings()" style="margin: 0">
                                <span layout-padding class="am-form-label">Display in Invoice</span>
                            </md-switch>
                        </md-card-actions>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout="column">
                            <div layout="row" style="margin-bottom: 12px">
                                <span class="md-title">Social Links</span>
                                <div flex></div>
                                <md-checkbox ng-model="vm.workshop.social.enabled" ng-change="vm.saveWorkshopDetails()" aria-label="Enable Links" style="margin-bottom: 0">
                                    <span class="md-body-1">Show Links</span>
                                </md-checkbox>
                            </div>
                            <div layout="row" layout-align="center center" class="am-social-links edge">
                                <md-icon md-svg-src="assets/img/facebook.svg"></md-icon>
                                <span style="md-body-1">facebook.com/</span>
                                <input type="text" ng-model="vm.workshop.social.facebook" ng-blur="vm.saveFacebookLink()" style="color: #424242" flex>
                            </div>
                            <div layout="row" layout-align="center center" class="am-social-links">
                                <md-icon md-svg-src="assets/img/instagram.svg"></md-icon>
                                <span style="md-body-1">instagram.com/</span>
                                <input type="text" ng-model="vm.workshop.social.instagram" ng-blur="vm.saveInstagramLink()" style="color: #424242" flex>
                            </div>
                            <div layout="row" layout-align="center center" class="am-social-links edge">
                                <md-icon md-svg-src="assets/img/twitter.svg"></md-icon>
                                <span style="md-body-1">twitter.com/</span>
                                <input type="text" ng-model="vm.workshop.social.twitter" ng-blur="vm.saveTwitterLink()" style="color: #424242" flex>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-title layout-xs="column" layout-align="center center" layout-wrap style="padding: 16px 24px">
                            <md-card-title-text>
                                <span class="md-title">Footer Logo</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout="column" layout-align="center center" layout-margin layout-wrap style="padding: 0">
                            <img ng-src="{{vm.invoiceFLogo}}" id="am-invoice-f-logo">
                        </md-card-content>
                        <input type="file" id="am-upload-invoice-f-logo" am-upload-files="vm.changeInvoiceFLogo" ng-hide="true">
                        <md-card-actions layout="row" layout-align="end center">
                            <md-switch dir="rtl" ng-model="vm.ivSettings.display.footerLogo" ng-change="vm.saveIvDisplaySettings()" style="margin: 0">
                                <span layout-padding class="am-form-label">Display in Invoice</span>
                            </md-switch>
                            <md-button class="md-accent" ng-click="vm.uploadInvoiceFLogo()">
                                <md-icon>collections</md-icon>
                                <span layout-padding>Change</span>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content style="padding: 8px 24px">
                            <div layout="row" layout-xs="column">
                                <span layout="row" layout-align="center center">
                                    <span class="md-body-2" flex>Last Invoice Number: </span>
                                    <input type="number" ng-model="vm.ivSettings.lastInvoiceNumber" ng-blur="vm.OnBlurLastInvoiceNumber()" placeholder="Enter Invoice Number Here" class="am-table-inline-input" flex>
                                </span>
                                <div flex></div>
                                <md-button class="md-accent" ng-click="vm.resetLastInvoiceNo()">
                                    <span layout-margin>Reset</span>
                                </md-button>
                            </div>
                            <div layout="row" layout-xs="column">
                                <span layout="row" layout-align="center center">
                                    <span class="md-body-2" flex>Last Estimate Number: </span>
                                    <input type="number" ng-model="vm.ivSettings.lastEstimateNo" ng-blur="vm.OnBlurLastEstimateNo()" placeholder="Enter Estimate Number Here" class="am-table-inline-input" flex>
                                </span>
                                <div flex></div>
                                <md-button class="md-accent" ng-click="vm.resetLastEstimateNo()">
                                    <span layout-margin>Reset</span>
                                </md-button>
                            </div>
                            <div layout="row" layout-xs="column">
                                <span layout="row" layout-align="center center">
                                    <span class="md-body-2" flex>Last Job Card Number: </span>
                                    <input type="number" ng-model="vm.ivSettings.lastJobCardNo" ng-blur="vm.OnBlurLastJobCardNo()" placeholder="Enter Job Card Number Here" class="am-table-inline-input" flex>
                                </span>
                                <div flex></div>
                                <md-button class="md-accent" ng-click="vm.resetLastJobCardNo()">
                                    <span layout-margin>Reset</span>
                                </md-button>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-title layout-xs="column" layout-align="center center" layout-wrap style="padding: 16px 24px">
                            <md-card-title-text>
                                <span class="md-title">Workshop Logo</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout="column" layout-align="center center" layout-margin layout-wrap style="padding: 0">
                            <img ng-src="{{vm.invoiceWLogo}}" id="am-invoice-w-logo">
                        </md-card-content>
                        <input type="file" id="am-upload-invoice-w-logo" am-upload-files="vm.changeInvoiceWLogo" ng-hide="true">
                        <md-card-actions layout="row" layout-align="end center">
                            <md-switch dir="rtl" ng-model="vm.ivSettings.display.workshopLogo" ng-change="vm.saveIvDisplaySettings()" style="margin: 0">
                                <span layout-padding class="am-form-label">Display in Invoice</span>
                            </md-switch>
                            <md-button class="md-accent" ng-click="vm.uploadInvoiceWLogo()">
                                <md-icon>collections</md-icon>
                                <span layout-padding>Change</span>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-contnet layout="row" layout-align="center center" layout-margin layout-wrap>
                            <span class="md-title" flex="100">Email Subject</span>
                            <md-input-container class="am-clear-error-spacer" flex>
                                <md-icon class="md-accent">subject</md-icon>
                                <input type="text" ng-model="vm.ivSettings.emailsubject" ng-change="vm.autoCapitalizeEmailSubject()" ng-blur="vm.saveIvEmailSubject()" style="width: 100%" aria-label="Email Subject">
                            </md-input-container>
                        </md-card-contnet>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout="row" layout-align="start center" style="padding: 8px 16px">
                            <span class="md-title">Email Account</span>
                            <span flex></span>
                            <md-button class="md-raised" ng-click="vm.clearEmailSignInDetails()">
                                <md-icon>clear_all</md-icon>
                                <span layout-margin>Clear Details</span>
                                <md-tooltip>Clear your sign in details</md-tooltip>
                            </md-button>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content>
                            <div layout="row">
                                <span class="md-title">Printing Margin&nbsp;<span style="font-size: small">(in cm)</span></span>
                                <div flex></div>
                                <md-checkbox ng-model="vm.ivAlign.enabled" ng-change="vm.saveIvAlignMargins(true)" aria-label="Enable Margins" style="margin: 0">
                                    <span class="md-body-1">Enable Margins</span>
                                </md-checkbox>
                            </div>
                            <md-input-container class="am-clear-error-spacer" flex style="margin: 18px 0 0">
                                <md-icon class="md-accent">vertical_align_top</md-icon>
                                <label class="am-form-label" ng-class="{'large': vm.isTopAlignment}">{{vm.label_ivAlignTopAlignment}}</label>
                                <input type="number" ng-model="vm.ivAlign.top" ng-focus="vm.changeTopAlignLabel(true)" ng-blur="vm.changeTopAlignLabel(); vm.saveIvAlignMargins()" aria-label="Top Align">
                            </md-input-container>
                            <md-input-container class="am-clear-error-spacer" flex style="margin: 18px 0 0">
                                <md-icon class="md-accent">vertical_align_bottom</md-icon>
                                <label class="am-form-label" ng-class="{'large': vm.isBottomAlignment}">{{vm.label_ivAlignBottomAlignment}}</label>
                                <input type="number" ng-model="vm.ivAlign.bottom" ng-focus="vm.changeBottomAlignLabel(true)" ng-blur="vm.changeBottomAlignLabel(); vm.saveIvAlignMargins()" aria-label="Bottom Align">
                            </md-input-container>
                        </md-card-content>
                    </md-card>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content>
                            <div layout="row" layout-align="start center">
                                <span class="md-title">Print Settings</span>
                                <span flex></span>
                                <span class="md-body-1">Page Size:&nbsp;</span>
                                <md-select ng-model="vm.invoicePageSize" ng-change="vm.saveInvoicePageSize()" aria-label="Invoice Page Size" style="margin: 0">
                                    <md-option class="am-hover-option" ng-repeat="page in vm.invoicePageSizeList" value="{{page}}">{{page}}</md-option>
                                </md-select>
                            </div>
                        </md-card-content>
                    </md-card>
                    <style>
                        .am-invoice-notes {
                            margin-top: 6px;
                            border: 0;
                            border-bottom: 1px solid #EEEEEE;
                            padding: 0 10px;
                            outline: none;
                            line-height: 1.2;
                        }
                    </style>
                    <md-card class="md-hue-1 am-box-shadow">
                        <md-card-content layout="column">
                            <div layout="row">
                                <span class="md-title">Note:</span>
                                <textarea cols="2" am-elastic-text-area ng-model="vm.invoiceNotes.note" class="am-invoice-notes md-caption" ng-blur="vm.saveInvoiceNotes()" placeholder="Enter Here" flex></textarea>
                            </div>
                            <md-switch ng-model="vm.invoiceNotes.enabled" ng-change="vm.saveInvoiceNotes()" style="margin: 8px 8px 2px">
                                <span layout-padding class="am-form-label">Display in Invoice</span>
                            </md-switch>
                        </md-card-content>
                    </md-card>
                </div>
            </md-content>
        </md-tab>
        <style>
            .am-tax-addnew {
                padding: 16px;
                outline: none;
                cursor: pointer;
                transition: background 400ms ease;
            }
            .am-tax-addnew:hover {
                background: #EEEEEE;
            }
            .am-tax-addnew:focus {
                background: #FAFAFA;
            }
        </style>
        <md-tab label="Tax" md-active="vm.taxTab" md-on-deselect="vm.changeTaxTab(false)" ng-disabled="$root.isAllFranchiseOSelected()">
            <md-content class="md-padding" layout="column" layout-align="start center">
                <md-card class="md-hue-1" style="min-width: 600px;">
                    <md-card-content style="padding: 0">
                        <div layout="row" layout-align="start center" class="am-tax-addnew" ng-click="vm.addNewTax()">
                            <md-icon style="margin: 0 6px">add</md-icon>
                            <span class="md-body-1" style="margin-left: 10px">Add New</span>
                        </div>
                        <md-divider></md-divider>
                        <div style="padding: 16px" layout="row" layout-align="start start" ng-repeat-start="tax in vm.taxSettings">
                            <div flex="10" style="padding-top: 9px" layout="column" layout-align="center center">
                                <md-checkbox aria-label="Apply Tax" ng-model="tax.isTaxApplied" ng-change="vm.saveTax(tax)">
                                    <md-tooltip>Apply Tax</md-tooltip>
                                </md-checkbox>
                            </div>
                            <div flex="40">
                                <input type="text" am-custom-autofocus="vm.IsTaxFocused($index)" pu-elastic-input ng-model="tax.name" ng-change="vm.autoCapitalizeName(tax)" ng-blur="vm.saveTax(tax)" class="am-tax-inline-input" style="min-width: 100px; font-size: 14pt" placeholder="Enter Tax Name">
                                <div layout="row" layout-align="start center" style="margin-top: 6px">
                                    <span class="md-body-1">Tax:</span>
                                    <input type="number" ng-model="tax.percent" ng-blur="vm.saveTax(tax)" pu-elastic-input class="am-tax-inline-input" value="0">
                                    <small>%</small>
                                </div>
                                <div layout="row" layout-align="start center" class="am-tax-adjust" style="margin-top: 4px">
                                    <span class="md-body-1 am-pt-cursor" style="margin-right: 6px">Exclusive</span>
                                    <md-switch aria-label="Adjust Tax" ng-model="tax.inclusive" ng-change="vm.saveTax(tax)" style="margin: 0"></md-switch>
                                    <span class="md-body-1 am-pt-cursor">Inclusive</span>
                                </div>
                            </div>
                            <div flex="40" style="padding-top: 24px">
                                <p class="md-body-1">Applicable On:</p>
                                <md-checkbox aria-label="Treatments" ng-model="tax.isForTreatments" ng-change="vm.saveTax(tax)" style="margin-bottom: 4px"><span class="md-body-1">Treatments</span></md-checkbox>
                                <md-checkbox aria-label="Inventory" ng-model="tax.isForInventory" ng-change="vm.saveTax(tax)" style="margin-bottom: 4px"><span class="md-body-1">Parts</span></md-checkbox>
                            </div>
                            <md-button class="md-icon-button"ng-click="vm.deleteTax(tax)">
                                <md-icon style="color: #F44336">delete</md-icon>
                                <md-tooltip>Delete Tax</md-tooltip>
                            </md-button>
                        </div>
                        <md-divider ng-repeat-end></md-divider>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>