<div id="page_content">
    <div id="page_content_inner">
        <service-kbhit></service-kbhit>
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">Add Service</h3>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="uk-form-row">
                            <label>Mobile Number</label>
                            <input type="text" ng-model="service.mobile" ng-blur="getUserDetails()" class="md-input" md-input />
                        </div>
                        <div class="uk-form-row">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-2">
                                    <label>First Name</label>
                                    <input type="text" ng-model="service.firstname" class="md-input" md-input />
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <label>Last Name</label>
                                    <input type="text" ng-model="service.lastname" class="md-input" md-input />
                                </div>
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label>Email Address</label>
                            <input type="text" ng-model="service.email" class="md-input" md-input />
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="uk-form-row">
                            <label>Vehicle Number</label>
                            <input type="text" ng-model="service.reg" id="vreg" ng-blur="getVehicleDetails()" class="md-input" md-input />
                        </div>
                        <div class="uk-form-row" id="manuModelColumn">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-2">
                                    <label>Manufacurer</label>
                                    <select class="md-input" id="vmanuf" ng-change="setModel()" ng-model="service.manufec" ng-options="option.name for option in manufList track by option.id" ng-change=""></select>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <label>Model</label>
                                    <select class="md-input" id="vmodel" ng-model="service.model" ng-options="option.name for option in modelList track by option.id" ng-change=""></select>
                                </div>
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label>Odo Reading</label>
                            <input type="text" ng-model="service.odo" id="sodo" class="md-input" md-input />
                        </div>
                        <div class="uk-form-row">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-2">
                                    <label>Date</label>
                                    <input type="date" ng-model="service.date" class="md-input" md-input />
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <label>Cost</label>
                                    <input type="number" ng-model="service.cost" class="md-input" md-input />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-form-row">
                            <label>Description</label>
                            <input type="text" ng-model="service.details" class="md-input" md-input />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a uk-float-left">Service's Problems</h3>
                <span class="uk-text-right uk-input-group-addon">
                    <a class="md-btn" ng-click="addProblemBlankRow()">ADD More Problem</a>
                </span>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-overflow-container">
                            <div class="uk-form-row">
                                <table class="uk-table uk-table-hover">
                                    <tbody>
                                        <tr ng-repeat="problem in service.problems track by $index">
                                            <td class="uk-width-4-10">
                                                <label>Issue / Problem</label>
                                                <input type="text" ng-model="problem.details" class="md-input label-fixed" md-input />
                                            </td>
                                            <td class="uk-width-2-10">
                                                <select class="md-input">
                                                    <option value="labour">Labour</option>
                                                    <option value="parts">Parts</option>
                                                </select>
                                            </td>
                                            <td class="uk-width-2-10">
                                                <label>Rate</label>
                                                <input type="text" class="md-input label-fixed" ng-model="problem.rate" md-input />
                                            </td>
                                            <td class="uk-width-2-10">
                                                <label>Quantity</label>
                                                <input type="text" class="md-input label-fixed" ng-model="problem.qty" md-input />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="uk-form-row">
                                <span class="uk-text-right uk-input-group-addon">
                                    <a class="md-btn md-btn-primary" ng-click="save()">{{ okButtonLable }}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>