<style>
    .am-box-input {
        border: 0;
        border-bottom: 1px solid #BDBDBD;
        padding: 0 10px;
        line-height: 30px;
        font-size: small;
        outline: none;
        color: #000;
        transition: all 600ms ease;
    }

    .am-box-input:hover {
        border-bottom: 1px solid #9E9E9E;
    }

    .am-box-input:focus {
        border-bottom: 1px solid #424242;
    }

    .am-login-box {
        border-radius: 6px;
        box-shadow: 0px 0px 5px 1px rgba(40, 40, 40, 0.2);
    }

    .am-login-box .am-input-box {
        margin: 16px;
    }

    .am-login-box .am-input-box.last {
        margin: 16px 16px 0 16px;
    }
</style>
<md-content layout="column" layout-align="center center" style="height: 100%; background: #212121">
    <img src="assets/img/logo-250x125px.png">
    <md-content class="am-login-box md-hue-1">
        <div style="padding: 16px;" ng-hide="vm.isLogingIn">
            <div layout="row" layout-align="start center" class="am-input-box">
                <label class="am-form-label">Username: </label>
                <input type="text" id="ami-username" ng-keydown="vm.OnKeyDown($event)" class="am-box-input" ng-change="vm.changeUserDetails()" placeholder="Enter Username" ng-model="vm.username" flex>
            </div>
            <div layout="row" layout-align="start center" class="am-input-box">
                <label class="am-form-label">Password: </label>
                <input type="password" id="ami-password" ng-keydown="vm.OnKeyDown($event)" class="am-box-input" ng-change="vm.changeUserDetails()" placeholder="Enter Password" ng-model="vm.password" flex>
            </div>
        <div layout="row" layout-align="center center">
                <span class="md-caption">or</span>
            </div>
            <div layout="row" layout-align="start center" class="am-input-box">
                <label class="am-form-label">Activation Code: </label>
                <input type="text" id="ami-code" ng-keydown="vm.OnKeyDown($event)" class="am-box-input" ng-change="vm.convertToCodeToUppercase()" placeholder="Enter Code" ng-model="vm.code" flex>
            </div>
            <div layout="row" layout-align="end center" class="am-input-box last">
                <md-button class="md-icon-button" ng-click="vm.restartApp()">
                    <md-icon>refresh</md-icon>
                </md-button>
                <span flex></span>
                <md-button class="md-accent md-raised" ng-click="vm.submit()">
                    <span layout-margin>Continue</span>
                    <md-icon>send</md-icon>
                </md-button>
            </div>
            <div layout="row" layout-align="center center" ng-show="vm.message" class="am-input-box last">
                <span class="md-caption am-red-text">{{vm.message}}</span>
            </div>
        </div>
        <div style="padding: 6px 100px;" ng-show="vm.isLogingIn">
            <div layout="row" layout-align="start center" class="am-input-box">
                <span class="md-body-1">Please Wait</span>
            </div>
        </div>
        <md-progress-linear ng-show="vm.isLogingIn" md-mode="indeterminate"></md-progress-linear>
    </md-content>    
</md-content>