/**
 * Customised style sheet for Automint App
 * @author ndkcha
 * @since 0.4.1
 * @version 0.6.1
 */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.am-select-table-row {
    outline: none;
    cursor: pointer;
    transition: background ease 0.5s;
}

.am-select-table-row:hover {
    background: #ECEFF1;
}

.am-clear-error-spacer .md-errors-spacer {
    display: none;
}

.am-form-label {
    font-weight: 500;
    padding-bottom: 0.1rem;
    font-size: small;
    color: rgba(30, 30, 30, 0.7);
    margin-bottom: 0.5rem;
}

.am-form-label.large {
    font-weight: 500;
    padding-bottom: 0.1rem;
    font-size: medium;
    color: rgba(30, 30, 30, 0.7);
    margin-bottom: 0.1rem;
}

.am-vehicle-reg {
    letter-spacing: 1px;
}

.am-icon-button-size {
    font-size: medium;
    text-align: center;
}

.am-table-input {
    border: 0;
    font-weight: 400;
    padding: 0.7rem;
    outline: none;
    color: rgba(30, 30, 30, 0.7);
    -webkit-transition: color 1s ease 0s;
    -moz-transition: color 1s ease 0s;
    transition: color 1s ease 0s;
    box-shadow: 0px 1px 3px 1px rgba(30, 30, 30, 0.3);
}

.am-table-input:focus {
    color: rgba(30, 30, 30, 0.9);
    box-shadow: 1px 1px 3px 1px rgba(30, 30, 30, 0.3);
}

.am-table-input.search-box {
    font-size: small;
    box-shadow: 0px 1px 3px 1px rgba(30, 30, 30, 0.3);
}

.am-checkbox .md-icon {
    border-style: double;
    border-width: 1px;
}

.am-file-uploader {
    padding: 1rem 0;
    background: rgba(100, 100, 100, 0.1);
    border-radius: 2px;
    font-size: small;
    text-align: center;
    line-height: 1.6;
    border: 1px dashed rgba(30, 30, 30, 0.1);
}

.am-file-uploader input[type="file"] {
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.am-file-uploader.hover {
    padding: 1rem 0;
    border-radius: 2px;
    border: 1px dashed #2196F3;
    background: rgba(100, 100, 100, 0.2);
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 250px !important;
    width: 50vw !important;
    max-width: 250px !important;
}

.am-message {
    font-size: small;
    padding-top: 1rem;
}

.am-hint {
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: #9E9E9E;
}

.am-hint .spacing-1p {
    letter-spacing: 1px;
}

.am-hint .bold-500 {
    font-weight: 500;
}

.am-side-nav {
    background: #263238;
}

.am-side-nav .item-color {
    color: #ECEFF1;
}

.am-side-nav .strong {
    font-weight: 500;
}

.am-table-header {
    color: #212121;
    font-size: 11pt;
}

.am-datatable-actions {
    width: 90px;
}

.am-datatable-actions.view-all-customers {
    width: 40px;
}

.am-datatable-actions.package-edit {
    width: 20px;
}

.am-datatable-actions .md-icon-button {
    margin: 0;
}

.am-datatable-actions.view-all-services {
    width: 132px;
}

.am-datatable-actions.view-all-services .invoice {
    font-variant: normal;
    margin: 0;
}

.am-datatable-actions.membership-addons {
    max-width: 40px;
}

.am-datatable-actions.membership-addons input {
    max-width: 40px;
}

.am-hover-option {
    background: #fff;
    transition: all 100ms ease;
}

.am-hover-option:hover {
    background: #F5F5F5;
}

.am-table-inline-input {
    border: 0;
    width: 97%;
    font-weight: 400;
    padding: 0.7rem;
    outline: none;
    background: transparent;
    color: rgba(30, 30, 30, 0.7);
    -webkit-transition: background 1s ease 0s, box-shadow 1s ease 0s;
    -moz-transition: background 1s ease 0s, box-shadow 1s ease 0s;
    transition: background 1s ease 0s, box-shadow 1s ease 0s;
    box-shadow: 0px 1px 3px 1px rgba(30, 30, 30, 0);
}

.am-table-inline-input:focus {
    background: white;
    box-shadow: 0px 1px 3px 1px rgba(30, 30, 30, 0.3);
}

.am-table-inline-input:hover {
    background: white;
    box-shadow: 0px 1px 3px 1px rgba(30, 30, 30, 0.2);
}

.am-back-button {
    background: transparent;
    z-index: 999;
    position: fixed;
    top: 0.4rem;
}

.am-selected-el-item~ .am-el-item .el-item,
.am-el-item:first-child .el-item {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.am-el-item.margin-1px {
    margin: 1px;
}

.am-selected-el-item~ .am-el-item .el-item.selected,
.am-el-item:first-child .el-item.selected {
    margin-top: 0;
}

.am-el-item:last-child .el-item {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.am-el-item .tile .folded {
    cursor: pointer;
    outline: none;
}

.am-el-item .el-item {
    background-color: white;
    transition: all 200ms;
}

.am-el-item .el-item * {
    transition: all 200ms;
}

.am-el-item .el-item .actions {
    opacity: 1;
    height: inherit;
}

.am-el-item .el-item .actions.ng-hide {
    opacity: 0;
    height: 0;
}

.am-el-item .el-item.selected {
    margin: 30px 2px;
    border-radius: 2px;
}

.am-el-item .el-item.selected .expanded {
    visibility: visible;
}

.am-el-item .el-item.selected .expanded,
.am-el-item .el-item.selected .expanded> * {
    max-height: 700px;
    opacity: 1;
}

.am-el-item .el-item.selected .expanded .md-label {
    border: hidden;
}

.am-el-item .el-item .expanded {
    visibility: hidden;
}

.am-el-item .el-item .expanded,
.am-el-item .el-item .expanded> * {
    max-height: 0;
    opacity: 0;
    transition: all 200ms;
}

.am-lockscreen {
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
}

.am-lockscreen.active {
    display: block;
}

.am-lockscreen.ng-enter {
    animation: fadeIn 0.5s both ease-in;
}

.am-lockscreen.ng-leave {
    transform-origin: 0% 0%;
    animation: fadeOut 1s both ease-in;
}


/* ANIMATIONS
============================================================================= */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}