.automint-hide {
    display: none;
}
.automint-section-title {
    color: rgb(255,255,255);
    letter-spacing: 1px;
    font-weight: 100;
    text-align: center;
    margin-top: 1rem;
}
.automint-problem-delete-button {
    border-radius: 0.6rem;
    padding-top: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0.3rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}
.automint-problem-checkbox {
    margin-left: 1rem;
    margin-right: 1rem;
}