<style>
    .am-changepassword-box .am-input-box {
        margin: 16px;
    }
</style>

<md-dialog aria-label="Change Password" style="min-width: 260px;" class="md-hue-1">
    <md-dialog-content style="padding: 16px 24px 6px;" class="am-changepassword-box">
        <div layout="row" layout-align="start center" class="am-input-box" style="margin-top: 16px">
            <label class="am-form-label" flex="40">Username: </label>
            <span class="md-body-2" style="padding: 0 10px;">{{$root.amGlobals.credentials.username}}</span>
        </div>
        <div layout="row" layout-align="start center" class="am-input-box">
            <label class="am-form-label" flex="40">Current Password: </label>
            <input type="password" id="ami-cur-password" ng-keydown="vm.OnKeyDown($event)" class="am-box-input" ng-change="vm.OnChangePasswords()" placeholder="Enter Current Password" ng-model="vm.oldPassword" flex>
        </div>
        <div layout="row" layout-align="start center" class="am-input-box">
            <label class="am-form-label" flex="40">New Password: </label>
            <input type="password" id="ami-new-password" ng-keydown="vm.OnKeyDown($event)" class="am-box-input" ng-change="vm.OnChangePasswords()" placeholder="Enter New Password" ng-model="vm.newPassword" flex>
        </div>
        <div layout="row" layout-align="start center">
            <span class="md-caption am-red-text" style="text-align: center" flex>{{vm.message}}</span>
            <md-button class="md-warn md-raised" ng-click="vm.submit()">
                <span layout-margin>Submit</span>
                <md-icon>send</md-icon>
            </md-button>
        </div>
    </md-dialog-content>
</md-dialog>