<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid">
            <h2 class="heading_a">
                Treatment Information
            </h2>
        </div>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" style="margin-top: 1rem;">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label for="wizard_problem_issue">Product / Service</label>
                        <input ng-disabled="treatmentsFormVm.operationMode == 'edit'" type="text" name="wizard_problem_issue" class="md-input" md-input ng-model="treatmentsFormVm.treatment.details" />
                    </div>
                </div>
                <div class="uk-grid">
                    <h2 class="heading_a">
                        <span class="sub-heading">Provide rates for different vehicle types</span>
                    </h2>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-medium-1-5 parsley-row">
                        <label for="wizard_small_car_rate">Small Car</label>
                        <input type="number" name="wizard_small_car_rate" class="md-input" md-input ng-model="treatmentsFormVm.treatment.rate.smallcar" />
                    </div>
                    <div class="uk-width-medium-1-5 parsley-row">
                        <label for="wizard_medium_car_rate">Medium Car</label>
                        <input type="number" name="wizard_medium_car_rate" class="md-input" md-input ng-model="treatmentsFormVm.treatment.rate.mediumcar" />
                    </div>
                    <div class="uk-width-medium-1-5 parsley-row">
                        <label for="wizard_large_car_rate">Large Car</label>
                        <input type="number" name="wizard_small_car_rate" class="md-input" md-input ng-model="treatmentsFormVm.treatment.rate.largecar" />
                    </div>
                    <div class="uk-width-medium-1-5 parsley-row">
                        <label for="wizard_x_large_car_rate">X-Large Car</label>
                        <input type="number" name="wizard_x_large_car_rate" class="md-input" md-input ng-model="treatmentsFormVm.treatment.rate.xlargecar" />
                    </div>
                    <div class="uk-width-medium-1-5 parsley-row">
                        <label for="wizard_default_rate">Default</label>
                        <input type="number" name="wizard_default_rate" class="md-input" md-input ng-model="treatmentsFormVm.treatment.rate.default" />
                    </div>
                </div>
                <div class="uk-clearfix uk-margin-large-top" style="margin-right: 2rem; margin-bottom: 1rem;">
                    <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-right" ng-click="treatmentsFormVm.save()">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>
