<md-content>
    <md-content class="md-table-toolbar md-default am-toolbar-strip" ng-hide="vm.isQueryMode" style="height: 60px" layout-gt-xs="row" layout-xs="column" layout-align="start center">
        <md-button aria-label="Add Service" class="md-raised md-accent" ng-click="vm.addService()">
            <md-icon style="color: white">person_add</md-icon>
            <span style="color: white" layout-padding>Add Service</span>
        </md-button>
        <div flex></div>
        <div layout="row" layout-align="center center">
            <span class="md-body-1">Showing data for : {{vm.ddTimeSetCaption}} </span>
            <md-button class="md-icon-button" ng-click="vm.openTimeFilter($event)">
                <md-icon style="font-size: 16pt; color: #424242">date_range</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.changeQueryMode(true)">
                <md-icon>search</md-icon>
            </md-button>
        </div>
    </md-content>
    <md-content class="md-table-toolbar md-default" ng-show="vm.isQueryMode" style="height: 60px" layout-gt-xs="row" layout-xs="column" layout-align="start center">
        <div layout="row" layout-align="center center" layout-margin>
            <span class="md-body-1">Showing data for : {{vm.ddTimeSet}} </span>
            <md-button class="md-icon-button" ng-click="vm.openTimeFilter($event)">
                <md-icon style="font-size: 16pt; color: #424242">date_range</md-icon>
            </md-button>
        </div>
        <input type="text" id="am-query-search" ng-model="vm.serviceQuery" placeholder="Search" class="md-block am-table-input search-box" flex>
        <md-button class="md-icon-button" ng-click="vm.changeQueryMode(false)">
            <md-icon>close</md-icon>
        </md-button>
    </md-content>
    <md-content class="md-hue-1 am-box-shadow">
        <md-table-container>
            <table md-table md-progress="vm.promise">
                <thead md-head md-order="vm.sortColumns" md-on-reorder="vm.sortByColumns">
                    <tr md-row>
                        <th md-column md-order-by="customerName"><span class="am-table-header">Customer</span></th>
                        <th md-column md-order-by="vehicle"><span class="am-table-header">Vehicle</span></th>
                        <th md-column md-order-by="date"><span class="am-table-header">Date</span></th>
                        <th md-column md-order-by="amount"><span class="am-table-header">Amount</span><br>({{vm.currencySymbol}})</th>
                        <th md-column md-order-by="payment"><span class="am-table-header">Payment</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="service in vm.services | limitTo: vm.query.limit: (vm.query.page - 1)*(vm.query.limit)" class="am-select-table-row">
                        <td md-cell ng-click="vm.editService(service)"><span ng-hide="vm.IsCustomerAnonymous(service.cstmr_name)">{{service.cstmr_name}}</span></td>
                        <td md-cell ng-click="vm.editService(service)"><span ng-hide="vm.IsVehicleAnonymous(service.vhcl_reg)">{{service.vhcl_manuf + ' ' + service.vhcl_model}}<span ng-if="service.vhcl_reg">&nbsp;({{service.vhcl_reg}})</span></span></td>
                        <td md-cell ng-click="vm.editService(service)">{{vm.getServiceDate(service.srvc_date)}}</td>
                        <td md-cell ng-click="vm.editService(service)">{{service.srvc_cost}}</td>
                        <td md-cell ng-click="vm.editService(service)"><span ng-class="{'am-red-text': vm.IsServiceDue(service.srvc_status)}">{{service.srvc_status}}</span></td>
                        <td md-cell ng-click="vm.editService(service)"><span ng-class="{'am-jobcard-text': vm.IsServiceStateJc(service.srvc_state), 'am-estimate-text': vm.IsServiceStateEs(service.srvc_state), 'am-invoice-text': vm.IsServiceStateIv(service.srvc_state)}">{{service.srvc_state}}</span></td>
                        <td md-cell class="am-datatable-actions view-all-services">
                            <md-button class="md-icon-button" ng-click="vm.deleteService(service, $event)">
                                <md-icon class="am-icon-button-size" style="color: red">delete</md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="vm.query.limit" ng-show="vm.showPaginationBar" md-limit-options="[10, 20, 50, 100]" md-page="vm.query.page" md-total="{{vm.query.total}}" md-on-paginate="vm.getServices" md-page-select></md-table-pagination>

        <md-table-pagination md-limit="vm.query.limit" ng-hide="vm.showPaginationBar" md-limit-options="[10, 20, 50, 100]" md-page="vm.displayItemPage" md-total="{{vm.query.total}}" md-page-select></md-table-pagination>
    </md-content>
    
</md-content>