<div style="box-shadow: 0px 1px 3px 1px #E0E0E0; z-index: 999; height: 1px; width: 100%; position: absolute"></div>
<md-toolbar class="md-default am-headerbar-shadow" style="background: #FFF; height:40px">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Go Back" ng-click="headerVm.toggleSideNavbar()" hide-gt-md>
            <md-icon style="color: #424242">menu</md-icon>
        </md-button>
        <div layout="column" layout-align="center center" flex>
            <span class="md-title" style="color: #424242"> {{ module_title }} </span>
        </div>
        <md-button aria-label="Help" class="md-icon-button" ng-click="headerVm.addService()">
            <md-icon style="color: #424242">add</md-icon>
            <md-tooltip>Add Service</md-tooltip>
        </md-button>
        <md-button aria-label="Help" class="md-icon-button" ng-click="headerVm.openHelpWindow()">
            <md-icon style="color: #424242">help</md-icon>
            <md-tooltip>Open Automint Help</md-tooltip>
        </md-button>
        <md-button ng-if="isPasscodeEnabled" aria-label="Lock" class="md-icon-button" ng-click="headerVm.openLockScreen()">
            <md-icon style="color: #424242">lock</md-icon>
            <md-tooltip>Lock Screen</md-tooltip>
        </md-button>
    </div>
</md-toolbar>