<style>
    .am-side-nav md-list-item .md-no-style, md-list-item.md-no-proxy {
        padding: 0;
    }

    .am-side-nav .selector {
        width: 4px;
        background: transparent;
        height: 100%;
        transition: background 300ms ease;
    }

    .am-side-nav .selector.selected {
        background: white;
    }

    .am-side-nav .md-button[disabled] .item-icon {
        color: #9E9E9E;
    }

    .am-side-nav .md-button[disabled] .item-name {
        color: #9E9E9E;
    }
</style>
<md-toolbar>
    <img src="assets/img/logo-250x125px.png" ng-click="sidebarVm.goToDashboard()" id="am-cover-pic" style="box-shadow: 1px 1px 3px 1px #212121; background: #212121; outline: none; cursor: pointer">
</md-toolbar>
<md-list ng-cloak class="am-side-nav">
    <md-list-item ng-repeat="item in sidebarVm.items" ng-click="sidebarVm.openState(item.state)" ng-disabled="sidebarVm.IsNotInclFranchise(item)">
        <div layout="row" layout-align="center center">
            <span class="selector" ng-class="{'selected': sidebarVm.isSelected($index)}">&nbsp;</span>
            <div layout-padding><md-icon class="item-color item-icon">{{ item.icon }}</md-icon></div>
            <div layout-padding><span class="md-body-1 item-color strong item-name"> {{ item.name }} </span></div>
        </div>
    </md-list-item>
</md-list>
<div flex></div>
<div layout="row" layout-align="start center" class="am-side-nav" layout-margin ng-show="sidebarVm.automintVersion">
    <span flex="33"></span>
    <span class="md-caption" style="color: #fff; text-align: center" flex>{{sidebarVm.automintVersion}}</span>
    <span flex="33" ng-if="!sidebarVm.isAutomintUpdateAvailable"></span>
    <md-button flex="33" class="md-accent md-hue-1" ng-if="sidebarVm.isAutomintUpdateAvailable" ng-click="sidebarVm.doUpdate()">
        <span style="font-size: 8pt" layout-margin>Update Now</span>
    </md-button>
</div>