<md-button aria-label="Back" class="md-fab md-raised md-mini am-back-button" ng-click="vm.goBack()">
    <md-icon aria-label="Back">arrow_back</md-icon>
</md-button>
<md-content layout-padding class="am-white-background am-box-shadow">
    <div layout="column">
        <div layout-gt-xs="row" layout-wrap layout-margin>
            <md-input-container class="md-block am-clear-error-spacer" flex>
                <md-icon class="md-accent">spa</md-icon>
                <label class="am-form-label" ng-class="{'large': vm.largeNameLabel}">{{vm.label_name}}</label>
                <input ng-disabled="!vm.isAddOperation()" id="ami-treatment-name" type="text" ng-model="vm.treatment.name" ng-change="vm.convertNameToTitleCase()" ng-blur="vm.changeNameLabel()" ng-focus="vm.changeNameLabel(true)">
            </md-input-container>
        </div>
        <div layout="column" layout-align="center start">
            <div layout="row" layout-align="end center" style="width: 100%">
                <md-checkbox aria-label="Original Cost" ng-model="vm.isOrgCostEnabled" style="margin: 0 16px 4px 0">
                    <span class="md-body-1">Original Cost to Center</span>
                </md-checkbox>
            </div>
            <md-table-container>
                <table md-table flex>
                    <thead md-head>
                        <tr md-row>
                            <th md-column><span class="am-table-header">Vehicle Type</span></th>
                            <th md-column><span class="am-table-header">Rate</span></th>
                            <th md-column ng-if="vm.isOrgCostEnabled"><span class="am-table-header">Original Cost to Center</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="rate in vm.rates" style="border: 0px">
                            <td md-cell>
                                <input type="text" ng-attr-id="{{'rType' + rate.focusIndex}}" ng-change="vm.convertVtToTitleCase(rate)" ng-disabled="rate.fromDb" ng-model="rate.type" class="am-table-input" placeholder="Enter Car Type">
                            </td>
                            <td md-cell>
                                <input type="number" ng-model="rate.value" class="am-table-input" placeholder="Enter Rate">
                            </td>
                            <td md-cell ng-if="vm.isOrgCostEnabled">
                                <input type="number" ng-model="rate.orgcost" class="am-table-input">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <tfoot md-foot>
                    <tr md-row>
                        <td>
                            <md-button ng-click="vm.addRate(true)">
                                <md-icon>add</md-icon>
                                <span layout-padding>Add More</span>
                            </md-button>
                        </td>
                    </tr>
                </tfoot>
            </md-table-container>
            <span class="md-caption" ng-if="!vm.isAddOperation()"><address>*&nbsp;Erase rate field of vehicle type to remove</address></span>
        </div>
        <div layout="column" layout-align="center end">
            <md-button ng-click="vm.save()" class="md-raised md-warn">
                <md-icon>done</md-icon>
                <span layout-padding>Save</span>
            </md-button>
        </div>
    </div>
</md-content>