<style>
    .am-box-input {
        border: 0;
        border-bottom: 1px solid #BDBDBD;
        padding: 0 10px;
        line-height: 30px;
        font-size: small;
        outline: none;
        color: #000;
        transition: all 600ms ease;
    }

    .am-box-input:hover {
        border-bottom: 1px solid #9E9E9E;
    }

    .am-box-input:focus {
        border-bottom: 1px solid #424242;
    }

    .am-login-box .am-input-box {
        margin: 16px;
    }

    .am-changepassword-box .am-input-box {
        margin: 16px;
    }
</style>

<md-dialog aria-label="Change Password" style="min-width: 260px;" class="md-hue-1">
    <div layout="row" layout-align="center center" class="am-input-box" style="margin-top: 16px">
        <span class="md-caption">Your password has been changed. Please provide your new password</span>
    </div>
    <md-dialog-content style="padding: 6px 24px;" class="am-changepassword-box">
        <div layout="row" layout-align="start center" class="am-input-box">
            <label class="am-form-label" flex="20">Username: </label>
            <span class="md-body-2" style="padding: 0 10px;">{{$root.amGlobals.credentials.username}}</span>
        </div>
        <div layout="row" layout-align="start center" class="am-input-box">
            <label class="am-form-label" flex="20">Password: </label>
            <input type="password" id="ami-password" ng-keydown="vm.OnKeyDown($event)" class="am-box-input" placeholder="Enter Here" ng-model="vm.password" flex>
        </div>
        <div layout="row" layout-align="start center">
            <span class="md-caption am-red-text" style="text-align: center" flex>{{vm.message}}</span>
            <md-button class="md-warn md-raised" ng-click="vm.submit()">
                <span layout-margin>Submit</span>
                <md-icon>send</md-icon>
            </md-button>
        </div>
    </md-dialog-content>
</md-dialog>