<md-button aria-label="Back" class="md-fab md-raised md-mini am-back-button" ng-click="vm.goBack()">
    <md-icon aria-label="Back">arrow_back</md-icon>
    <md-tooltip md-direction="bottom">Back</md-tooltip>
</md-button>
<md-content layout-padding class="md-hue-1 am-box-shadow">
    <div layout="column">
        <div layout-gt-xs="row" layout-wrap layout-margin>
            <md-input-container class="md-block" flex>
                <md-icon class="md-accent">gavel</md-icon>
                <label class="am-form-label" ng-class="{'large': vm.isName}">{{vm.label_name}}</label>
                <input ng-disabled="!vm.isAddOperation()" type="text" ng-model="vm.inventory.name" ng-change="vm.convertNameToTitleCase()" ng-blur="vm.changeNameLabel()" ng-focus="vm.changeNameLabel(true)">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <md-icon md-svg-src="assets/img/rupee.svg"></md-icon>
                <label class="am-form-label" ng-class="{'large': vm.isRate}">{{vm.label_rate}}</label>
                <input type="number" ng-model="vm.inventory.rate" ng-blur="vm.changeRateLabel()" ng-focus="vm.changeRateLabel(true)">
            </md-input-container>
        </div>
        <div layout="column" layout-align="center end">
            <md-button ng-click="vm.save()" class="md-raised md-warn">
                <md-icon>done</md-icon>
                <span layout-padding>Save</span>
            </md-button>
        </div>
    </div>
</md-content>