<md-dialog aria-label="new customers" ng-cloak flex>
    <md-toolbar style="background: #F57C00">
        <div class="md-toolbar-tools" layout="row" layout-align="center center">
            <span class="md-title">New Customers</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" style="padding: 0;">
            <md-table-container>
                <table md-table md-progress="vm.promise">
                    <thead md-head>
                        <tr md-row>
                            <th md-column><span class="am-table-header">Customer</span></th>
                            <th md-column><span class="am-table-header">Mobile</span></th>
                            <th md-column><span class="am-table-header">Vehicle</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="customer in vm.customers | limitTo: vm.query.limit: (vm.query.page - 1)*(vm.query.limit)" class="am-select-table-row" style="cursor: default">
                            <td md-cell>{{customer.cstmr_name}}</td>
                            <td md-cell>{{customer.cstmr_mobile}}</td>
                            <td md-cell>{{customer.vhcl_manuf + ' ' + service.vhcl_model}}<span ng-if="customer.vhcl_reg">&nbsp;({{customer.vhcl_reg}})</span></td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            
            <md-table-pagination md-limit="vm.query.limit" md-limit-options="[10, 20, 50, 100]" md-page="vm.query.page" md-total="{{vm.query.total}}" md-page-select></md-table-pagination>
        </div>
    </md-dialog-content>
</md-dialog>