<md-toolbar class="md-table-toolbar md-default" ng-hide="vm.isQueryMode">
    <div class="md-toolbar-tools">
        <md-button aria-label="Add Customer" class="md-raised md-accent" ng-click="vm.addCustomer()">
            <md-icon style="color:white">person_add</md-icon>
            <span style="color:white" layout-padding>Add Customer</span>
        </md-button>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="vm.changeQueryMode(true)">
            <md-icon>search</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default" ng-show="vm.isQueryMode">
    <div class="md-toolbar-tools">
        <input type="text" id="am-query-search" ng-model="vm.customerQuery" placeholder="Search" class="md-block am-table-input search-box" ng-change="vm.getCustomers()" flex>
        <md-button class="md-icon-button" ng-click="vm.changeQueryMode(false)">
            <md-icon>close</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table ng-model="vm.selectedCustomers" md-progress="vm.promise">
        <thead md-head>
            <tr md-row>
                <th md-column><span>Name</span></th>
                <th md-column hide-xs><span>Mobile</span></th>
                <th md-column hide-xs><span>Email</span></th>
                <th md-column><span>Vehicles</span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-auto-select ng-repeat="customer in vm.customers | limitTo: vm.query.limit: (vm.displayItemPage-1)*(vm.query.limit)">
                <td md-cell>{{customer.name}}</td>
                <td md-cell hide-xs>{{customer.mobile}}</td>
                <td md-cell hide-xs>{{customer.email}}</td>
                <td md-cell><span ng-repeat="vehicle in customer.vehicles">{{vehicle.manuf + ' ' + vehicle.model}}<span ng-if="vehicle.reg">&nbsp;({{vehicle.reg}})</span><span ng-if="customer.vehicles.length > 1 && $index != customer.vehicles.length-1"></span><br></span></td>
                <td md-cell>
                    <md-button class="md-icon-button" ng-click="vm.editCustomer(customer.id)">
                        <md-icon class="am-icon-button-size">edit</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="vm.deleteCustomer(customer.id)">
                        <md-icon class="am-icon-button-size md-warn">delete</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="vm.query.limit" ng-show="vm.showPaginationBar" md-limit-options="[5, 10, 15, 20]" md-page="vm.query.page" md-total="{{vm.query.total}}" md-on-paginate="vm.getCustomers" md-page-select></md-table-pagination>

<md-table-pagination md-limit="vm.query.limit" ng-hide="vm.showPaginationBar" md-limit-options="[5, 10, 15, 20]" md-page="vm.displayItemPage" md-total="{{vm.query.total}}" md-page-select></md-table-pagination>