<style>
    .am-vdbox {
        margin: 12px 0;
    }

    .am-vdbox.last {
        margin: 12px 0 0 0;
    }

    .am-vdbox md-autocomplete .md-whiteframe-z1 {
        box-shadow: none;
    }

    .am-vdbox label {
        color: #1E88E5;
    }

    .am-vdbox input {
        border: 0 !important;
        border-bottom: 1px solid #BDBDBD !important;
        padding: 0 10px !important;
        line-height: 40px;
        font-size: small !important;
        outline: none !important;
        color: #000 !important;
        transition: all 600ms ease !important;
        background: #fff !important;
    }

    .am-dvc-cancel {
        color: #F44336;
    }

    .am-dvc-cancel md-icon {
        color: #F44336;
    }
</style>
<md-dialog aria-label="Customize Vehicle" style="min-width: 500px" class="md-hue-1">
    <md-dialog-content style="padding: 24px" layout="column">
        <div layout="row" layout-align="start center">
            <span class="md-title"><span ng-show="vm.isDeleteDialog">Are you sure you want to delete ?</span><span ng-hide="vm.isDeleteDialog">Vehicle Info</span></span>
            <span flex></span>
            <md-button class="am-dvc-cancel md-icon-button" ng-click="vm.deleteVehicle()" ng-show="vm.vehicle.id" ng-if="vm.viewDeleteIcon()">
                <md-icon>delete</md-icon>
                <md-tooltip>Delete Vehicle</md-tooltip>
            </md-button>
        </div>
        <div layout="column" style="padding: 24px 16px 0" ng-show="vm.isDeleteDialog">
            <span class="md-body-1">All the services of <span class="md-body-2">{{vm.vehicle.manuf}} {{vm.vehicle.model}}<span ng-if="vm.vehicle.reg" class="md-caption">({{vm.vehicle.reg}})</span></span> will be deleted</span>
        </div>
        <div layout="column" style="padding: 16px" ng-hide="vm.isDeleteDialog">
            <div layout="column" class="am-vdbox">
                <label class="am-form-label">Manufacturer:</label>
                <md-autocomplete md-autofocus class="am-full-width" md-selected-item="vm.selectedManuf" md-search-text="vm.vehicle.manuf" md-items="manuf in vm.manufacturersQuerySearch()" md-item-text="manuf" placeholder="Type Manufacturer Name" md-search-text-change="vm.searchVehicleChange()" flex>
                    <md-item-template>
                        <span md-highlight-text="vm.vehicle.manuf">{{manuf}}</span>
                    </md-item-template>
                </md-autocomplete>
            </div>
            <div layout="column" class="am-vdbox">
                <label class="am-form-label">Model:</label>
                <md-autocomplete class="am-full-width" md-selected-item="vm.selectedModel" md-search-text="vm.vehicle.model" md-items="model in vm.modelQuerySearch()" md-item-text="model" placeholder="Type Model Name" md-no-cache="true" md-min-length="0" md-search-text-change="vm.autoCapitalizeVehicleModel()" flex>
                    <md-item-template>
                        <span md-highlight-text="vm.vehicle.model">{{model}}</span>
                    </md-item-template>
                </md-autocomplete>
            </div>
            <div layout="column" class="am-vdbox last">
                <label class="am-form-label">Registration:</label>
                <input type="text" class="am-vdbox-input am-vehicle-reg" ng-model="vm.vehicle.reg" ng-change="vm.convertRegToCaps()" placeholder="e.g GJ01AB9999" flex>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center" style="margin-bottom: 6px; margin-right: 6px;" ng-hide="vm.isDeleteDialog">
        <md-button class="md-warn md-raised" ng-click="vm.save()" ng-hide="$root.isAllFranchiseOSelected()">
            <md-icon>done</md-icon>
            <span layout-margin>Save</span>
        </md-button>
        <md-button class="md-accent" ng-click="vm.cancel()">
            <md-icon>close</md-icon>
            <span layout-margin ng-if="!$root.isAllFranchiseOSelected()">Cancel</span>
            <span layout-margin ng-if="$root.isAllFranchiseOSelected()">Close</span>
        </md-button>
    </md-dialog-actions>
    <md-dialog-actions layout="row" layout-align="end center" style="margin-bottom: 6px; margin-right: 6px;" ng-show="vm.isDeleteDialog">
        <md-button class="md-primary md-raised" ng-click="vm.performDelete()">
            <md-icon>delete</md-icon>
            <span layout-margin>Delete</span>
        </md-button>
        <md-button class="md-accent" ng-click="vm.cancelDelete()">
            <md-icon>close</md-icon>
            <span layout-margin>Cancel</span>
        </md-button>
    </md-dialog-actions>
</md-dialog>