<style>
    #ami-customer-name {
        min-width: 120px;
        border: 0;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        padding: 6px;
        font-size: medium;
        outline: none;
        color: #fff;
        background: transparent;
        transition: border-bottom 200ms ease;
    }

    #ami-customer-name:hover {
        border-bottom: 1px solid rgba(255,255,255,0.7);
    }

    #ami-customer-name:focus {
        border-bottom: 1px solid rgba(255,255,255,1);
    }

    #ami-customer-name::-webkit-input-placeholder {
        color: #fff;
        opacity: 0.6;
    }

    .am-box-input {
        border: 0;
        border-bottom: 1px solid #BDBDBD;
        padding: 0 10px;
        line-height: 30px;
        font-size: small;
        outline: none;
        color: #000;
        transition: all 600ms ease;
    }

    .am-box-input:hover {
        border-bottom: 1px solid #9E9E9E;
    }

    .am-box-input:focus {
        border-bottom: 1px solid #424242;
    }

    .md-datepicker-button {
        margin: 0 !important;
    }

    .md-datepicker-input-container {
        margin-left: 0 !important;
    }

    .md-datepicker-input-container .md-datepicker-input, .md-datepicker-triangle-button {
        display: none;
    }

    .am-vehicle-selector {
        border: 1px solid #EEEEEE;
        margin: 2px 16px;
        outline: none;
        cursor: pointer;
        border-radius: 4px;
        padding: 2px 16px;
        color: #1565C0;
        transition: background 500ms ease, color 100ms ease;
    }

    .am-vehicle-selector .am-button {
        padding: 8px 14px;
        outline: none;
    }

    .am-vehicle-selector .am-button span {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .am-vehicle-selector .am-button md-icon {
        color: #fff;
        margin-right: 6px;
    }

    .am-vehicle-selector.selected {
        color: #fff;
        background: #1565C0;
    }

    .am-vehicle-selector:hover {
        color: #fff;
        background: #1565C0;
    }

    .am-vehicle-selector:focus {
        color: #fff;
        background: #1565C0;
    }

    .am-blue-bar .am-table-header {
        color: #fff;
    }

    md-select-menu md-content {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .am-eci-block {
        margin-top: 26px;
        margin-bottom: 26px;
    }

    .am-eci-block.first {
        margin-top: 2px;
        margin-bottom: 26px;
    }

    .am-eci-block.last {
        margin-top: 26px;
        margin-bottom: 10px;
    }
</style>
<md-button aria-label="Back" class="md-fab md-raised md-mini am-back-button" ng-click="vm.goBack()">
    <md-icon aria-label="Back">arrow_back</md-icon>
</md-button>
<md-content layout="column">
    <md-card class="md-hue-1">
        <md-button class="md-warn md-raised" style="position: absolute; top: 12px; right: 10px" ng-click="vm.save()" id="amb-save">
            <md-icon>done</md-icon>
            <span layout-margin>Save</span>
            <md-tooltip>Save Customer</md-tooltip>
        </md-button>
        <md-card-title layout="row" layout-align="center center" class="am-blue-bar c600" style="padding: 14px">
            <label class="am-form-label" style="color: #fff; margin-bottom: 0; margin-right: 0.4rem">Name:</label>
            <input type="text" id="ami-customer-name" pu-elastic-input ng-change="vm.convertNameToTitleCase()" placeholder="Enter Name" ng-model="vm.user.name">
        </md-card-title>
        <md-card-content layout="row" style="padding: 16px 0">
            <div flex="50" laout="column" style="padding: 0 6px">
                <div layout="row" class="am-eci-block first">
                    <div layout="row" layout-align="start center" flex="50" class="am-input-box">
                        <label class="am-form-label">Mobile: </label>
                        <input type="text" style="margin-left: 9px" class="am-box-input" ng-blur="vm.checkExistingCustomerMobile($event)" placeholder="Enter Mobile Number" ng-model="vm.user.mobile" flex>
                    </div>
                    <div layout="row" layout-align="start center" flex="50" class="am-input-box">
                        <label class="am-form-label">Email: </label>
                        <input type="email" class="am-box-input" placeholder="Enter Email Address" ng-model="vm.user.email" flex>
                    </div>
                </div>
                <div layout="row" layout-align="start" flex="auto" class="am-input-box am-eci-block">
                    <label class="am-form-label" style="padding: 6px 0">Address: </label>
                    <input type="text" class="am-box-input" placeholder="Enter Address" ng-model="vm.user.address" ng-change="vm.autoCapitalizeCustomerAddress()" flex>
                </div>
                <div layout="row" layout-align="start center" class="am-input-box am-eci-block" flex="45">
                    <label class="am-form-label">Type: </label>
                    <md-select aria-label="Customer Type" class="am-select" style="margin: 0 0 0 20px;" ng-model="vm.user.type" flex>
                        <md-option class="am-hover-option" ng-value="type" ng-repeat="type in vm.customerTypeList" ng-selected="$first">{{type}}</md-option>
                    </md-select>
                </div>
                <div layout="column" layout-align="start" class="am-input-box am-eci-block last">
                    <div layout="row" layout-align="start center">
                        <label class="am-form-label" style="color: #000">Memberships <br><i>(AMC Contracts)</i>:&nbsp;</label>
                        <md-chips ng-model="vm.membershipChips" md-autocomplete-snap ng-click="vm.OnClickMembershipChip($event)" md-on-add="vm.OnAddMembershipChip($chip)" md-on-remove="vm.unsubscribeMembership($event, $chip)" md-require-match="true" flex>
                            <md-autocomplete id="am-add-membership-chips" md-selected-item="vm.selectedMembershipChip" md-search-text="vm.membershipChipText" md-items="membership in vm.queryMembershipChip()" md-item-text="membership.name" placeholder="Assign Memberships">
                                <span md-highlight-text="vm.membershipChipText">{{membership.name}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                <span style="font-size: small">{{$chip.name}}</span>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </div>
                    <span class="md-caption" style="line-height: 2rem; text-align: right"><address>*&nbsp;Click on Membership for details</address></span>
                </div>
            </div>
            <md-divider></md-divider>
            <div flex="50" style="padding: 0 10px" layout="column">
                <div layout="row" layout-align="start center">
                    <span class="md-subhead" style="margin: 8px" flex>Vehicles: </span>
                </div>
                <div layout="row" layout-align="start center" ng-repeat="vehicle in vm.possibleVehicleList" class="am-vehicle-selector" ng-click="vm.changeVehicle(vehicle.id)" ng-class="{'selected': vm.IsVehicleSelected(vehicle.id)}">
                    <span class="md-body-1" flex>{{vehicle.shortname}}<md-tooltip ng-if="vehicle.isLongName">{{vehicle.name}}</md-tooltip></span>
                    <div layout="row" layout-align="start center" class="am-button" ng-click="vm.editVehicle(vehicle.id)">
                        <md-icon>edit</md-icon>
                        <span class="md-caption">Edit</span>
                    </div>
                </div>
                <div flex></div>
                <div layout="row" layout-align="start center">
                    <div layout="row" layout-align="start center" ng-show="vm.vehicle.id">
                        <md-checkbox aria-label="Next Due" ng-model="vm.vNextDue[vm.vehicle.id].isNextDue" style="margin-bottom: 0"><span class="md-body-2">Next Service Reminder<span ng-show="vm.vNextDue[vm.vehicle.id].isNextDue" class="md-caption">:</span></span></md-checkbox>
                        <div layout="row" layout-align="start center" ng-show="vm.vNextDue[vm.vehicle.id].isNextDue">
                            <md-datepicker class="md-hue-1" ng-model="vm.vNextDue[vm.vehicle.id].nextdue" md-placeholder="Enter Date" style="margin: 0 0 0 -0.2rem; padding-right: 0" md-open-on-focus></md-datepicker>
                            <span style="font-size: 10pt; padding-top: 2px">{{vm.getDate(vm.vNextDue[vm.vehicle.id].nextdue)}}</span>
                        </div>
                    </div>
                    <div flex></div>
                    <md-button class="md-accent" ng-click="vm.editVehicle(undefined)" ng-keydown="vm.blurAddVehicle($event)">
                        <md-icon>add</md-icon>
                        <span layout-margin>Add Vehicle</span>
                    </md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>
</md-content>