<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Customer Information" md-active="vm.userTab" md-on-deselect="vm.changeUserTab(false)">
            <md-content layout-padding>
                <div layout="column">
                    <div layout-gt-xs="row" layout-wrap layout-margin>
                        <md-input-container class="md-block" flex-gt-xs="100">
                            <md-icon class="md-accent">person_pin</md-icon>
                            <label class="am-form-label" ng-class="{'large': vm.largeUserNameLabel}">{{vm.label_userName}}</label>
                            <input autofocus id="ami-user-name" type="text" ng-model="vm.user.name" ng-change="vm.convertNameToTitleCase()" ng-blur="vm.changeUserNameLabel()" ng-focus="vm.changeUserNameLabel(true)">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <md-icon class="md-accent">phone</md-icon>
                            <label class="am-form-label" ng-class="{'large': vm.largeUserMobileLabel}">{{vm.label_userMobile}}</label>
                            <input layout-padding type="text" ng-model="vm.user.mobile" ng-blur="vm.changeUserMobileLabel()" ng-focus="vm.changeUserMobileLabel(true)">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <md-icon class="md-accent">email</md-icon>
                            <label class="am-form-label" ng-class="{'large': vm.largeUserEmailLabel}">{{vm.label_userEmail}}</label>
                            <input type="email" ng-model="vm.user.email" ng-blur="vm.changeUserEmailLabel()" ng-focus="vm.changeUserEmailLabel(true)">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-align="end center">
                    <md-button class="md-raised md-warn" ng-click="vm.save()">
                        <md-icon>done</md-icon>
                        <span layout-padding>Save</span>
                    </md-button>
                    <md-button class="md-raised" ng-click="vm.changeVehicleTab(true)">
                        <span layout-padding>Add Vehicle</span>
                        <md-icon>navigate_next</md-icon>
                    </md-button>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Vehicle Information" md-active="vm.vehicleTab" md-on-deselect="vm.changeVehicleTab(false)">
            <md-content layout-padding>
                <div layout="column">
                    <div layout-gt-xs="row" layout-wrap layout-margin ng-if="!vm.addOperationConfig()">
                        <div layout="column" flex>
                            <span class="am-form-label">Choose Vehicle:</span>
                            <md-menu>
                                <md-button aria-label="Choose from existing vehicles" class="md-raised md-primary" ng-click="vm.chooseVehicle($mdOpenMenu, $event)">
                                    <span>{{vm.currentVehicle}}</span>
                                </md-button>
                                <md-menu-content width="6">
                                    <md-menu-item ng-repeat="vehicle in vm.possibleVehicleList" ng-hide="vm.possibleVehicleList.length == 0">
                                        <md-button ng-click="vm.changeVehicle(vehicle.id)">
                                            <span>{{vehicle.name}}</span>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-divider ng-hide="vm.possibleVehicleList.length == 0"></md-menu-divider>
                                    <md-menu-item>
                                        <md-button ng-click="vm.changeVehicle()">
                                            <span>New Vehicle</span>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            <span class="am-form-label md-warn">(To add new vehicle, click on the button above and select new vehicle)</span>
                        </div>
                    </div>
                    <div layout-gt-xs="row" layout-wrap layout-margin>
                        <div layout="column" flex>
                            <span class="am-form-label">Choose Manufacturer:</span>
                            <md-autocomplete md-selected-item="vm.selectedManuf" md-search-text="vm.vehicle.manuf" md-items="manuf in vm.manufacturersQuerySearch()" md-item-text="manuf" placeholder="Type Manufacturer Name" md-search-text-change="vm.searchVehicleChange()">
                                <md-item-template>
                                    <span md-highlight-text="vm.vehicle.manuf">{{manuf}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                        <div layout="column" flex>
                            <span class="am-form-label">Choose Model:</span>
                            <md-autocomplete md-selected-item="vm.selectedModel" md-search-text="vm.vehicle.model" md-items="model in vm.modelQuerySearch()" md-item-text="model" placeholder="Type Model Name" md-no-cache="true" md-min-length="0">
                                <md-item-template>
                                    <span md-highlight-text="vm.vehicle.model">{{model}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                    </div>
                    <div layout-gt-xs="row" layout-wrap layout-margin>
                        <md-input-container class="md-block" flex-gt-xs="50">
                            <label class="am-form-label" ng-class="{'large': vm.largeVehicleRegLabel}">{{vm.label_vehicleReg}}</label>
                            <input type="text" class="am-vehicle-reg" ng-model="vm.vehicle.reg" ng-change="vm.convertRegToCaps()" ng-blur="vm.changeVehicleRegLabel()" ng-focus="vm.changeVehicleRegLabel(true)">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-align="end center">
                    <md-button class="md-raised md-warn" ng-click="vm.save()">
                        <md-icon>done</md-icon>
                        <span layout-padding>Save</span>
                    </md-button>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>